<!-- <app-main></app-main> -->


<!-- <app-pipes></app-pipes> -->


<div> 



<!-- 

  <app-comp1
  
    []="_____"  
    ()="________">
  
  
  </app-comp1> -->


   <!-- @input @oupput contentchild ngcontnet -->
<div class="row  col-3 m-4 p-4">
  <input type = "text" class="form-control" [(ngModel)] = "modelcolor" />
</div>

  <p 
     [color]=       "'green'"  
     [leavecolor] = "'red'"
     ngadvancedcolor>
     Hello world
     
  </p>


    <!-- <span 
    [color]="modelcolor"  
    ngadvancedcolor>
    Hello world</span> -->


  



  <!-- <p  ngBasicColor> Hello world</p>

  <span  ngBasicColor> Hello world</span>

  <br>
  <input type="text" ngBasicColor /> -->
  
 
</div>