<div class="card h-100">
  <div class="card-header bg-secondary text-white">
    Customer Registraion Latest Record
  </div>
  <div class="card-body">
    <form>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="bullet-icon"></span>
          <label class="col-sm-3 col-form-label">Name</label>
          <p class="">{{CustomerRecord.Name}}</p>
        </li>
        <li class="list-group-item">
          <span class="bullet-icon"></span>
          <label class="col-sm-3 col-form-label">Email</label>
          <p class="">{{CustomerRecord.Email}}</p>
        </li>
      </ul>
    </form>
  </div>
</div>